<div class="container-section">
    @for (task of tasks$ | async; track task) {
    <mat-card>
        <mat-card-content>
            <p>{{task.title}}</p>
            <p>{{task.body}}</p>
            <p></p>
        </mat-card-content>
        <mat-card-actions>
        @if (task.doneURL){
            <button mat-button (click)="markAsDone(task.doneURL)">
                MARCAR TAREA COMO HECHA
            </button>
        } @else {
        <p>Tarea realizada a las :{{task.doneAt | date:'shortTime'}}</p>
        }

        </mat-card-actions>
    </mat-card>
     }
</div>