<div class="container-section">
    <form class="form-container " [formGroup]="tasknewForm" (ngSubmit)="handleSubmit()">
        <h1>Agrega Una Nueva Tarea</h1>
        <mat-form-field class="widthField">
            <mat-label >Titulo Tarea</mat-label>
            <input matInput id="title" type="text" formControlName="title" />
            @if (controlHasErrors('title')) {
                <mat-error>{{ getControlErrorMessage('title') }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field  class="widthField">
            <mat-label>Descripcion</mat-label>
            <textarea matInput id="body" type="text" formControlName="body" placeholder="Describe la tarea..."></textarea>
        </mat-form-field>
        
        <mat-form-field class="widthField">
            <mat-label>Asignar a</mat-label>
            <input type="text"
                   placeholder="Escoge un invitado"
                   aria-label="Nombre Usuario"
                   matInput
                   [formControl]="listControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" >
              @for (option of userGuests |async; track option) {
                <mat-option [value]="option.id">{{option.name}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        
        <button mat-raised-button type="submit"  color="primary" class="pad">Guardar</button>
        <button mat-raised-button color="primary" (click)="cancelar()">Cancelar</button>
    </form>
</div>
